<?xml version="1.0" standalone="yes"?>
<RCCServiceConfig xmlns="http://tempuri.org/RCCServiceConfig.xsd">
	<RemoteControl>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputPinName>SerialDeviceInputPin</InputPinName>
		<InputPinCfgData>COM1;10000;8;10;20</InputPinCfgData>
		<OutputPinName>ProTONEOutputPin</OutputPinName>
        <OutputPinCfgData></OutputPinCfgData>
		<Enabled>true</Enabled>
	</RemoteControl>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
    <InputData>0</InputData>
		<OutputData>Activate</OutputData>
		<ButtonName>btnActivate</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
    <InputData>1</InputData>
		<OutputData>Terminate</OutputData>
		<ButtonName>btnTerminate</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>2</InputData>
		<OutputData>Playback?CmdPlay</OutputData>
		<ButtonName>btnPlay</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>3</InputData>
		<OutputData>Playback?CmdPause</OutputData>
		<ButtonName>btnPause</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>4</InputData>
		<OutputData>Playback?CmdStop</OutputData>
		<ButtonName>btnStop</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>5</InputData>
		<OutputData>Playback?CmdPrev</OutputData>
		<ButtonName>btnPrev</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>6</InputData>
		<OutputData>Playback?CmdNext</OutputData>
		<ButtonName>btnNext</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>7</InputData>
		<OutputData>Playback?CmdLoad</OutputData>
		<ButtonName>btnLoad</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>8</InputData>
		<OutputData>Playback?CmdFullScreen</OutputData>
		<ButtonName>btnFullScreen</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>9</InputData>
		<OutputData>Playback?CmdFwd</OutputData>
		<ButtonName>btnFastFwd</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>10</InputData>
		<OutputData>Playback?CmdRew</OutputData>
		<ButtonName>btnRewind</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>11</InputData>
		<OutputData>Playback?CmdVolUp</OutputData>
		<ButtonName>btnVolUp</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>12</InputData>
		<OutputData>Playback?CmdVolDn</OutputData>
		<ButtonName>btnVolDown</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>13</InputData>
		<OutputData>Playback?CmdPlaylistEnd</OutputData>
		<ButtonName>btnPlaylistEnd</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>14</InputData>
		<OutputData>Playback?CmdOpenDisk</OutputData>
		<ButtonName>btnOpenDVD</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>15</InputData>
		<OutputData>Playback?CmdToggleShuffle</OutputData>
		<ButtonName>btnShuffle</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>16</InputData>
		<OutputData>KeyPress?{Up}</OutputData>
		<ButtonName>keyUp</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>17</InputData>
		<OutputData>KeyPress?{Down}</OutputData>
		<ButtonName>keyDown</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>18</InputData>
		<OutputData>KeyPress?{Left}</OutputData>
		<ButtonName>keyLeft</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>19</InputData>
		<OutputData>KeyPress?{Right}</OutputData>
		<ButtonName>keyRight</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>20</InputData>
		<OutputData>KeyPress?{Back}</OutputData>
		<ButtonName>keyBack</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
	<RemoteButtons>
		<RemoteName>ProTONE Serial Remote Control</RemoteName>
		<InputData>21</InputData>
		<OutputData>KeyPress?{Esc}</OutputData>
		<ButtonName>btnName</ButtonName>
		<TargetWndName />
		<Enabled>true</Enabled>
		<TimedRepeatRate>2</TimedRepeatRate>
	</RemoteButtons>
</RCCServiceConfig>