<?xml version="1.0" standalone="yes"?>
<RCCServiceConfig xmlns="http://tempuri.org/RCCServiceConfig.xsd">
	<RemoteControl>
		<RemoteName>Default Remote Control over Network</RemoteName>
		<InputPinName>RemotingInputPin</InputPinName>
        <InputPinCfgData />
		<OutputPinName>ProTONEOutputPin</OutputPinName>
		<OutputPinCfgData />
		<Enabled>true</Enabled>
	</RemoteControl>
</RCCServiceConfig>