<?xml version="1.0" encoding="utf-8"?>
<AppConfig>
  <add key="NavigationAddons" value="SkinBuilder.Navigation.AddonPanel" />
  <add key="PropertyAddons" value="SkinBuilder.Property.AddonPanel" />
  <add key="PreviewAddons" value="SkinBuilder.Preview.AddonPanel" />
  <add key="SkinBuilder.Navigation.AddonPanel" value="SkinBuilder|SkinBuilder.Navigation.AddonPanel" />
  <add key="SkinBuilder.Property.AddonPanel" value="SkinBuilder|SkinBuilder.Property.AddonPanel" />
  <add key="SkinBuilder.Preview.AddonPanel" value="SkinBuilder|SkinBuilder.Preview.AddonPanel" />
</AppConfig>