<?xml version="1.0" encoding="utf-8"?>
<AppConfig>
  <add key="SampleAddon.Builtin.Navigation.AddonPanel" value="SampleAddon.Builtin|SampleAddon.Builtin.Navigation.AddonPanel" />
  <add key="NavigationAddons" value="SampleAddon.Builtin.Navigation.AddonPanel" />
  <add key="SampleAddon.Builtin.Property.AddonPanel" value="SampleAddon.Builtin|SampleAddon.Builtin.Property.AddonPanel" />
  <add key="PropertyAddons" value="SampleAddon.Builtin.Property.AddonPanel" />
  <add key="SampleAddon.Builtin.Preview.AddonPanel" value="SampleAddon.Builtin|SampleAddon.Builtin.Preview.AddonPanel" />
  <add key="PreviewAddons" value="SampleAddon.Builtin.Preview.AddonPanel" />
</AppConfig>