<?xml version="1.0" encoding="utf-8"?>
<AppConfig>
  <add key="NavigationAddons" value="OPMedia.Addons.Builtin.CatalogExplorer.AddonPanel|OPMedia.Addons.Builtin.FileExplorer.AddonPanel" />
  <add key="PropertyAddons" value="OPMedia.Addons.Builtin.__DefaultProp.AddonPanel|OPMedia.Addons.Builtin.Bookmarks.AddonPanel|OPMedia.Addons.Builtin.CatalogExplorer.CatalogItemPropFE.AddonPanel|OPMedia.Addons.Builtin.CatalogExplorer.CatalogItemPropMC.AddonPanel|OPMedia.Addons.Builtin.CDAProp.AddonPanel|OPMedia.Addons.Builtin.TaggedFileProp.AddonPanel|OPMedia.Addons.Builtin.VideoProp.AddonPanel" />
  <add key="PreviewAddons" value="OPMedia.Addons.Builtin.__DefaultPreview.AddonPanel|OPMedia.Addons.Builtin.Images.AddonPanel|OPMedia.Addons.Builtin.Player.AddonPanel" />
  <add key="OPMedia.Addons.Builtin.CatalogExplorer.AddonPanel" value="OPMedia.Addons.Builtin|OPMedia.Addons.Builtin.CatalogExplorer.AddonPanel" />
  <add key="OPMedia.Addons.Builtin.FileExplorer.AddonPanel" value="OPMedia.Addons.Builtin|OPMedia.Addons.Builtin.FileExplorer.AddonPanel" />
  <add key="OPMedia.Addons.Builtin.__DefaultProp.AddonPanel" value="OPMedia.Addons.Builtin|OPMedia.Addons.Builtin.__DefaultProp.AddonPanel" />
  <add key="OPMedia.Addons.Builtin.Bookmarks.AddonPanel" value="OPMedia.Addons.Builtin|OPMedia.Addons.Builtin.Bookmarks.AddonPanel" />
  <add key="OPMedia.Addons.Builtin.CatalogExplorer.CatalogItemPropFE.AddonPanel" value="OPMedia.Addons.Builtin|OPMedia.Addons.Builtin.CatalogExplorer.CatalogItemPropFE.AddonPanel" />
  <add key="OPMedia.Addons.Builtin.CatalogExplorer.CatalogItemPropMC.AddonPanel" value="OPMedia.Addons.Builtin|OPMedia.Addons.Builtin.CatalogExplorer.CatalogItemPropMC.AddonPanel" />
  <add key="OPMedia.Addons.Builtin.CDAProp.AddonPanel" value="OPMedia.Addons.Builtin|OPMedia.Addons.Builtin.CDAProp.AddonPanel" />
  <add key="OPMedia.Addons.Builtin.TaggedFileProp.AddonPanel" value="OPMedia.Addons.Builtin|OPMedia.Addons.Builtin.TaggedFileProp.AddonPanel" />
  <add key="OPMedia.Addons.Builtin.VideoProp.AddonPanel" value="OPMedia.Addons.Builtin|OPMedia.Addons.Builtin.VideoProp.AddonPanel" />
  <add key="OPMedia.Addons.Builtin.__DefaultPreview.AddonPanel" value="OPMedia.Addons.Builtin|OPMedia.Addons.Builtin.__DefaultPreview.AddonPanel" />
  <add key="OPMedia.Addons.Builtin.Images.AddonPanel" value="OPMedia.Addons.Builtin|OPMedia.Addons.Builtin.Images.AddonPanel" />
  <add key="OPMedia.Addons.Builtin.Player.AddonPanel" value="OPMedia.Addons.Builtin|OPMedia.Addons.Builtin.Player.AddonPanel" />
</AppConfig>
